.activewear{

width:95%;
margin:70px auto;

}

.activewear h2{

font-size:48px;
font-weight:700;
margin-bottom:35px;

}

.activewear-grid{

display:grid;
grid-template-columns:repeat(5,1fr);
gap:22px;

}

.active-card{

position:relative;

cursor:pointer;

border-radius:22px;

overflow:hidden;

transition:.35s;

background:#f6efe8;

padding:12px;

}

.active-card:hover{

transform:translateY(-8px);

}

.active-card img{

width:100%;
height:420px;
object-fit:cover;
border-radius:18px;

}

.tag{

position:absolute;

top:18px;
left:18px;

background:white;

padding:10px 18px;

border-radius:18px;

font-size:28px;

font-weight:600;

}

@media(max-width:1200px){

.activewear-grid{

grid-template-columns:repeat(3,1fr);

}

}

@media(max-width:768px){

.activewear-grid{

grid-template-columns:repeat(2,1fr);

}

.active-card img{

height:280px;

}

.tag{

font-size:18px;

}

.activewear h2{

font-size:32px;

}

}

@media(max-width:500px){

.activewear-grid{

grid-template-columns:1fr;

}

}