.footer{
    background:#111;
    color:#fff;
    margin-top:80px;
}

/* =========================
   Top Feature Strip
========================= */

.footer-features{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:60px;
    padding:22px 8%;
    border-bottom:1px solid #2a2a2a;
    flex-wrap:wrap;
}

.feature{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:16px;
    font-weight:600;
    color:#fff;
}

.feature svg{
    font-size:24px;
    color:#ff5a00;
}

/* =========================
   Main Footer
========================= */

.footer-top{
    height: 400px;
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1.5fr;
    gap:50px;
    padding:70px 0;
}

.footer-box h2{
    font-size:34px;
    margin-bottom:18px;
}

.footer-box h2 span{
    color:#ff5a00;
}

.footer-box h3{
    font-size:22px;
    margin-bottom:22px;
}

.footer-box p{
    color:#bdbdbd;
    line-height:1.8;
}

.footer-box a{
    display:block;
    color:#bdbdbd;
    text-decoration:none;
    margin-bottom:14px;
    transition:.35s;
}

.footer-box a:hover{
    color:#ff5a00;
    transform:translateX(8px);
}

/* =========================
   Contact Info
========================= */

.contact-info{
    margin:20px 0;
}

.contact-info p{
    display:flex;
    align-items:center;
    gap:10px;
    margin:12px 0;
    color:#d2d2d2;
    font-size:14px;
}

/* =========================
   Social Icons
========================= */

.social-icons{
    display:flex;
    gap:15px;
    margin-top:25px;
}

.social-icons a{
    width:45px;
    height:45px;
    background:#222;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    font-size:18px;
    text-decoration:none;
    transition:.35s;
}

.social-icons a:hover{
    background:#ff5a00;
    color:#fff;
    transform:translateY(-6px) rotate(8deg);
}

/* =========================
   Newsletter
========================= */

.newsletter{
    display:flex;
    margin-top:20px;
}

.newsletter input{
    flex:1;
    height:50px;
    border:none;
    outline:none;
    padding:0 15px;
    border-radius:8px 0 0 8px;
    font-size:14px;
}

.newsletter button{
    width:60px;
    border:none;
    background:#ff5a00;
    color:#fff;
    cursor:pointer;
    border-radius:0 8px 8px 0;
    font-size:18px;
    transition:.3s;
}

.newsletter button:hover{
    background:#ff7300;
}

/* =========================
   Payment Icons
========================= */

.payment-icons{
    display:flex;
    align-items:center;
    gap:18px;
    margin-top:25px;
    flex-wrap:wrap;
    font-size:32px;
}

.payment-icons svg{
    cursor:pointer;
    transition:.3s;
}

.payment-icons svg:hover{
    color:#ff5a00;
    transform:translateY(-5px) scale(1.12);
}

.payment-text{
    
    border:1px solid #444;
    padding:6px 12px;
    border-radius:8px;
    font-size:13px;
    font-weight:600;
    color:#fff;
}
.payment-text:hover{
      color:#ff5a00;
    transform:translateY(-5px) scale(1.12);
}

/* =========================
   Bottom
========================= */

.footer-bottom{
    border-top:1px solid #2a2a2a;
    margin-top:20px;
    padding:25px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    gap:10px;
    color:#bdbdbd;
    font-size:14px;
}

.footer-bottom strong{
    color:#ff5a00;
}

/* =========================
   Tablet
========================= */

@media(max-width:992px){

.footer-top{
    grid-template-columns:repeat(2,1fr);
    gap:40px;
}

.footer-features{
    gap:35px;
}

}

/* =========================
   Mobile
========================= */

@media(max-width:768px){

.footer-top{
    grid-template-columns:1fr;
    gap:35px;
}

.footer-features{
    flex-direction:column;
    gap:20px;
}

.newsletter{
    flex-direction:column;
}

.newsletter input{
    border-radius:8px;
    margin-bottom:10px;
}

.newsletter button{
    width:100%;
    height:50px;
    border-radius:8px;
}

.payment-icons{
    justify-content:center;
}

.footer-bottom{
    flex-direction:column;
    text-align:center;
}

}