.detail-img{
    max-height:420px;
    object-fit:contain;
    transition:.3s;
}

.detail-img:hover{
    transform:scale(1.05);
}

.btn-warning,
.btn-success{
    font-weight:600;
}

.row.bg-white{
    border:1px solid #eee;
}

@media(max-width:768px){

.detail-img{
    max-height:280px;
    margin-bottom:20px;
}

}
p{
  color: black;
  font-weight: bold;
}